<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :hotel_id, style: "display: block" %>
    <%= form.text_field :hotel_id, value: booking.hotel.name, disabled: true %>
  </div>

  <div>
    <%= form.label :check_in, style: "display: block" %>
    <%= form.datetime_field :check_in %>
  </div>

  <div>
    <%= form.label :check_out, style: "display: block" %>
    <%= form.datetime_field :check_out %>
  </div>

  <div>
    <%= form.label :balance_amount, style: "display: block" %>
    <%= form.text_field :balance_amount %>
  </div>
</br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
