<div id="<%= dom_id room_category %>">
  <p>
    <strong>Name:</strong>
    <%= room_category.name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= room_category.capacity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room_category.price %>
  </p>

  <p>
    <strong>Facilities:</strong>
    <%= room_category.facilities %>
  </p>

</div>
